@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
  }
  
  main {
    margin: 4vh;
    margin-top: 6vh;
  }

